

body{
background-color:lightgold;
text-align:center;
}

h1{
color:gold;
text-align:center;
font-size:20px;
}

p{

font-family:verdana;
font-size:20x;
color:white;
text-align:center;
background-color:grey;
}

ul{
color:white;
font-size:30x;
text-align:left;
}

h3,h2{
color:yellow;
font-family:italic;
text-align:bold;
text-align:center;

}

